.addEdit-product-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.form-submit-product {
    margin: 0 auto;
    display: block;
    width: 320px;
    background: linear-gradient(45deg, darkcyan, darkgrey);
    padding: 60px;
}
.input-product {
    margin-top: 11px;
    margin-bottom: 10px;
    padding: 3px;
    background: blanchedalmond;
    border: none;
}
.submit-btn {
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    padding: 6px 30px;
    cursor: pointer;
    background: coral;
    border: 1px solid;
}
.product-photo-preview {
    width: 185px;
    margin-top: 20px;
    margin-bottom: 20px;
}