.cart-page {
    font-size: 16px;
    color: #a32222;
    margin-top: 20px;
    margin-bottom: 30px;
}
.cart-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.cart-item {
    display: flex;
    width: 770px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid black;
    background: white;
    padding: 10px 25px;
    margin-top: 40px;
    box-shadow: 1px 1px 7px black;
}
.cart-item-photo {
    width: 160px;
    padding: 8px;
}
.cart-item-name {
    width: 180px;
    word-wrap: break-word;
}
.cart-delete-product-btn {
    padding: 5px 15px;
    background: cadetblue;
    color: white;
    cursor: pointer;
    transition: 0.4s all ease-in;
}
.cart-delete-product-btn:hover {
    transition: 0.4s all ease-out;
    background: #4b7071;
}
.cart-order-btn {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    padding: 10px 35px;
    background: forestgreen;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
.cart-empty-text {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    color: brown;
}