@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
body {
  background: seashell;
}

body::-webkit-scrollbar {
  width: 14px;              
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(224, 50, 19);    
  border-radius: 50px;       
}